[default]
access_key = {{ access_key }}
secret_key = {{ secret_key }}
host_base = objects-us-west-1.dream.io
host_bucket = %(bucket)s.objects-us-west-1.dream.io
enable_multipart = True
multipart_chunk_size_mb = 15
use_https = True
